*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.animated-input {
  position: relative;
  width: 20rem;
  height: 3rem;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid grey;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
    color: black;
    outline: none;
    padding: 1.25rem;
    background: none;

    &:hover {
      border-color: #133c54;
    }


    &:focus {
      border-color: #133c54;
    }
  }

  &__textarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 201%;
    height: 350%;
    border: 2px solid grey;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
    color: black;
    outline: none;
    padding: 1.25rem;
    background: none;
    resize: none;

    &:hover {
      border-color: #133c54;
    }


    &:focus {
      border-color: #133c54;
    }
  }

  &__label {
    position: absolute;
    left: 1rem;
    top: 0.8rem;
    padding: 0 0.5rem;
    color: black;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: white;

    .req {
      color: darkred;
      margin: 5px;
    }
  }
}

.animated-input__input:focus~.animated-input__label,
.animated-input__input:not(:placeholder-shown).animated-input__input:not(:focus)~.animated-input__label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;

  .req {
    opacity: 0;
    font-size: 0px;
    margin: 0px;
  }
}

.animated-input__textarea:focus~.animated-input__label,
.animated-input__textarea:not(:placeholder-shown).animated-input__textarea:not(:focus)~.animated-input__label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}

.volDeductions-form {
  margin-top: 5rem;
  gap: 50px;
  display: flex;
  flex-direction: column;
}

.image-volDeduction {
  background-image: url(../../icons/volDeductionIcon.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  width: 5rem;
  height: 5rem;
}

.form-title {
  font-size: 2.5rem;
  color: #133c54;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 5.7rem;
  font-weight: bold;
}

.form-group-volDeductions {
  display: flex;
  gap: 1%;
}


.create-volDeduction-btn:hover {
  background-color: rgb(3, 119, 3);
}

.cancel-volDeduction-btn:hover {
  background-color: rgb(172, 1, 1);
}

.create-volDeduction-btn {
  background-color: darkgreen;
  padding: 10px;
  border-radius: 8px;
  color: white;
  border-color: white;
  border-style: none;
  width: 200px;
  font-size: 1.3rem;
}

.cancel-volDeduction-btn {
  background-color: darkred;
  padding: 10px;
  border-radius: 8px;
  color: white;
  border-color: white;
  border-style: none;
  width: 200px;
  font-size: 1.3rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 9rem;
}