.navbar-activeProject {
  color: white;
  display: flex;
  font-size: 1.5vh;
  align-items: center;
  text-align: center;
  width: 15vh;
}

.logo-img {
  width: 30%;
  height: 100%;
}

.nav-header {
  display: flex;
}