.modal-90w {
  width: 60%;
  max-width: none;
}

.projectForm-header {
  text-align: center;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
}

.projectForm-BighHeight {
  height: 40rem;
}

.modal-element {
  text-align: center;
  padding: 15px;
  font-size: 30px;
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;

}

.modal-Dropdown {
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
}