:root {

  --unselectedText: white;
  --seletedTextColor: rgb(207, 202, 202);


  --projectsLogoBackgroundUnselected: #47b8bc;
  --projectsLogoBackgroundSelected: #227b7e;

  --addButtonBackgroundUnselected: #3673be;
  --addButtonBacgroundSelected: #2760a6;
  --selectedBorderColor: rgb(207, 202, 202);



}

.project-style {
  background-color: #133c54;
  min-height: 100vh;
}

.project-projectsRow {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  padding-top: 17%;
}

.project-projectsRow:hover {
  color: var(--seletedTextColor);
}

.project-projectLogo {
  color: var(--unselectedText);
  height: 200px;
  width: 200px;
  line-height: 200px;
  font-size: 10rem;
  text-align: center;
  background: var(--projectsLogoBackgroundUnselected);
  border-radius: 9px;
  border: none;
  outline: none;
}

.project-projectLogo:hover {
  background: var(--projectsLogoBackgroundSelected);
  color: var(--seletedTextColor);

}

.project-projectName {
  margin-top: 1rem;
  color: var(--unselectedText);
  text-align: center;
  font-size: large;
}


.project-buttonCreate {
  height: 200px;
  width: 200px;
  background-color: #3673be;
  border-radius: 100px;
  color: white;
  border-style: none;
  border: 3px solid;
  font-size: 200px;
  text-align: center;
  line-height: 200px;

}

.project-buttonCreate:hover {
  background-color: #2760a6;

  border: 3px solid rgb(207, 202, 202);
  color: rgb(207, 202, 202);

}

.project-AddNewProjectText {
  margin-top: 1rem;
  color: var(--unselectedText);
  font-size: large;
  text-align: center;
}